/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
a {
    text-decoration: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  max-width:1920px;
  min-width:320px;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
body {
  background-color: aqua;
}
.wrapper {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
max-width: 830px;
margin: 0 auto;
}
h1 {
color: white;
}
.reset-btn {
  border: none;
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 800;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;

}
.reset-btn:hover {
  background-color: rgba(0, 128, 0, 0.711);
}
.winner {
  font-size: 40px;
  line-height: 50px;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}